*.png
.idea/
__pycache__
*.gif
venv/
.archives
exploration_results*
.zip
*Imgur Album*
_resources/tiling_dicts/3-isogonal
_resources/polyhedron_images
*poly_dicts*
*tiling_dicts*
.gal
Showing off
.latex_output
*_backup
_output
_results
exploration_results_allnight